*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.home-background
{
    min-height: 95vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}
.right-col{
  flex-basis: 90%;
  justify-content: center;
  background-color: white;
}
.left-col{
 
  flex-basis: 35%;
  position: relative;
  background-color: #00446c;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Home1
{
  width:120px;
  height: 100px;

}
.Navi-left
{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.Background
{
  background-color: #00446c ;
  min-height: 180vh;
  width: 100%;

}

.Background nav li{
  list-style-type: none;
   margin-top: 15px;

}
.Background nav a{
 text-decoration: none;
 color: rgb(175, 195, 199);
 cursor: pointer;

}
.shadow
{
  box-shadow: 0 0 2 3 black;
}
.boxi
{
  background-color: rgb(247, 247, 247);
  box-shadow: 0 0 2 3 black;
}
.colo:hover
{
  background-color: white;
  height: 40px;
  transition: 0.5s;
  border-bottom-left-radius:20px;
  border-top-right-radius:20px;
  color: black;
}
